<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href=" https://necolas.github.io/normalize.css/3.0.2/normalize.css">
    <link href="~/Content/style.css" rel="stylesheet" />
    <script src="~/Scripts/Base/Base.js"></script>
    <link href="~/Content/Base/Base.css" rel="stylesheet" />
    @RenderSection("style", false)
</head>
<body>
    <div class="container wrap">
        <div class="container">
            <div class="header">
            </div>
        </div>

        <div class="container body-content confirm">
            @RenderBody()
            <hr />
        </div>
        <div class="container">
            <div class="footer">
                <img src="~/Images/logo.svg" />
                <address>
                    <strong>火把行道會</strong> 台北市中正區許昌街42號9樓
                    <br>
                    <abbr title="電話">Tel:</abbr> (02)2312-1210
                    <abbr title="傳真">Fax:</abbr> (02)2312-1203
                </address>
            </div>
            <div class="footer2 text-center"> <strong>活動報名系統 Copyright © TorchChurch</strong></div>
        </div>
    </div>
    @RenderSection("Script", false)
    @RenderSection("PageScript", false)
</body>
</html>